/* Safari/Chrome (WebKit) scrollbar styling and theme colors */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-accent-primary));
  height: 70px;
  border-radius: 15px;
}

/* Hide scrollbar while keeping scroll functionality */
.no-scrollbar-scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

